# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

#Experiments noise
SyntheticQueries/*
QueryWorkflowsDir/*
stdOut.txt
perfOut.txt
SyntheticHQs/10_DSs.txt
SyntheticHQs/11_DSs.txt
SyntheticHQs/12_DSs.txt
SyntheticHQs/1_DSs.txt
SyntheticHQs/2_DSs.txt
SyntheticHQs/3_DSs.txt
SyntheticHQs/4_DSs.txt
SyntheticHQs/5_DSs.txt
SyntheticHQs/6_DSs.txt
SyntheticHQs/7_DSs.txt
SyntheticHQs/8_DSs.txt
SyntheticHQs/9_DSs.txt
SyntheticHQs/tmp
